
<div class="contenido-perfil">

<div class="contenido-texto">
    <h1 >{{datos.name}}</h1>
    <hr>

    <h2 style="text-align: center;">Mis datos</h2>
    <div class="flex-datos">

        <p>Usuario: 
        </p>
        <p>{{datos.name}}</p>
        <p>
            Modificar
        </p>
    </div>

    <div class="flex-datos">

    <p>
        Correo: 
    </p>
        {{datos.email}}
    <p>

    </p>

    <p>Modificar</p>

    </div>
    <p>
        fecha de creacion: {{datos.date}}
    </p>
    <hr>
    <h2 style="text-align: center;">Mis compras</h2>
    <hr>
    <h2 style="text-align: center;">Mis ventas</h2>
    
</div>


</div>
